
body {
    font-family:"montserrat",Arial;
    background-color: mistyrose;
}

header {
    padding: 10px;
}

nav {
    padding: 10px;
    font-size: 22px;
}

.sectionLeft {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}

.sectionRight {
    position: absolute;
    padding-top: 10px;
    padding-left: 960px;
}

.sectionLower {
    position: absolute;
    padding-top: 530px;
    padding-left: 10px;
}

article {
    display: inline-block;
}

form ul{
    list-style-type: none;
    padding: 0;
}

form ul li {
    padding: 10px;
}

form ul li input {
    position: relative;
    left: 20px;
}

form ul li button {
    position: relative;
    left: 150px;
}

form ul li select {
    position: absolute;
    left: 150px;
}

form ul li textarea {
    position: absolute;
    left: 150px;
}

form ul li checkbox {
    position: absolute;
    left: 150px;
}

form ul li text {
    position: absolute;
    left: 150px;
}

.ul1 {
    display: inline;
    float: left;
}

.ul2 {
    padding-right: 1200px;
    padding-top: 40px;
    display: inline;
    float: right;
}

.button1 {
    display: inline-block;
    padding-top: 50px;
    padding-left: 300px;
}
.button2 {
    display: inline-block;
    padding-top: 50px;
    padding-left: 15px;
}

.radio-button {
    padding-left: 10px;
}