
body {
    font-family: Arial;
    background-color: mistyrose;
}

header {
    padding: 10px;
}

nav {
    padding: 10px;
    font-size: 22px;
}

.sectionLeft {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}

.sectionRight {
    position: absolute;
    padding-top: 10px;
    padding-left: 960px;
}

.sectionLower {
    position: absolute;
    padding-top: 530px;
    padding-left: 10px;
}

article {
    display: inline-block;
}

form ul{
    list-style-type: none;
    padding: 0;
}

form ul li {
    padding: 10px;
}

form ul li input {
    position: absolute;
    left: 150px;
}

form ul li button {
    position: absolute;
    left: 150px;
}

form ul li select {
    position: absolute;
    left: 150px;
}

form ul li textarea {
    position: absolute;
    left: 150px;
}

form ul li checkbox {
    position: absolute;
    left: 150px;
}

.ul1 {
    float: left;
}

.ul2 {
    float: right;
}